.message-time {
  font-size: 0.7rem;
  margin-left: 20px;
}

.message-header {
  font-size: 0.8rem;
}

.message-header,
.message-time {
  font-weight: bold;
}

.message-list {
  width: 80%;
  margin: auto;
}

.box {
  position: relative;
}

.delete-icon {
  position: absolute;
  right: 0;
}
