.button {
  display: block;
}

.create-msg__btn {
  margin-bottom: 30px;
}

.create-msg__btn,
.backto-main__btn,
.dashboard-header {
  padding-left: 20px;
}

.dashboard-header {
  font-family: "Signika Negative", sans-serif;
}
